* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    background-color: black;
    color: whitesmoke;
    font-size: 3rem;
    display: flex;
    flex-flow: column;
}

nav {
    padding: 1rem;
    background-color: #44B78B;
    color: white;
    font-size: 2.5rem;
}

main {
    flex-grow: 1;
    display: grid;
    place-content: center;
}

h1,
p {
    text-align: center;
}

a {
    text-decoration: none;
    color: #81dbb8;
}

h1, h2{
    font-size: 2.5rem;
}

a:hover {
    opacity: .85;
} 

.banner{
    display: block;
    width:  90%;
    max-width: 800px;;
}
button{
    background-color: lightgreen;
    color: darkblue;
    height:  30px;
    width: 50px;
    font-size: medium;
    border-radius: 5px;
    cursor: pointer;
    border: none;
    outline: none;
    transition: .5s ease all;
    
&:hover{
        background-color: lightcoral;
    }

}